
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
!.elasticbeanstalk/*.config.yml
!.elasticbeanstalk/config.yml
__pycache__/
build/
data/
collab_delivery
collab/
node_emb_disease_sim/
*.pem
user_forms/*
!user_forms/*.py
key.py